USE [MANAGER_STUDENT]
GO
/****** Object:  Table [dbo].[DIEM]    Script Date: 5/12/2023 11:28:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIEM](
	[MAMH] [varchar](4) NOT NULL,
	[MAHS] [varchar](4) NOT NULL,
	[DIEMQT] [float] NULL,
	[DIEMGK] [float] NULL,
	[DIEMCK] [float] NULL,
	[DIEMTBHK] [float] NULL,
	[GHICHU] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAMH] ASC,
	[MAHS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GIANGDAY]    Script Date: 5/12/2023 11:28:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIANGDAY](
	[MALOP] [varchar](4) NOT NULL,
	[MAMH] [varchar](4) NOT NULL,
	[MAGV] [varchar](4) NULL,
	[MAHK] [varchar](4) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MALOP] ASC,
	[MAMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GIAOVIEN]    Script Date: 5/12/2023 11:28:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIAOVIEN](
	[MAGV] [varchar](4) NOT NULL,
	[HOTEN] [varchar](40) NOT NULL,
	[SDT] [varchar](10) NULL,
	[NGSINH] [smalldatetime] NOT NULL,
	[GIOITINH] [varchar](3) NULL,
	[MATK] [varchar](5) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOCKYNAMHOC]    Script Date: 5/12/2023 11:28:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOCKYNAMHOC](
	[MAHK] [varchar](4) NOT NULL,
	[HOCKY] [tinyint] NULL,
	[NAMHOC] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOCSINH]    Script Date: 5/12/2023 11:28:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOCSINH](
	[MAHS] [varchar](4) NOT NULL,
	[HOTEN] [varchar](40) NOT NULL,
	[MALOP] [varchar](4) NULL,
	[SDT] [varchar](10) NULL,
	[NGSINH] [smalldatetime] NOT NULL,
	[GIOITINH] [varchar](3) NULL,
	[MATK] [varchar](5) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOP]    Script Date: 5/12/2023 11:28:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOP](
	[MALOP] [varchar](4) NOT NULL,
	[TENLOP] [varchar](4) NULL,
	[MAGVCN] [varchar](4) NULL,
	[SISO] [tinyint] NOT NULL,
	[KHOI] [tinyint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MALOP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MONHOC]    Script Date: 5/12/2023 11:28:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MONHOC](
	[MAMH] [varchar](4) NOT NULL,
	[TENMH] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MAMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 5/12/2023 11:28:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[MATK] [varchar](5) NOT NULL,
	[EMAIL] [varchar](30) NULL,
	[MATKHAU] [varchar](30) NULL,
 CONSTRAINT [PK_TAIKHOAN] PRIMARY KEY CLUSTERED 
(
	[MATK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[GIANGDAY] ([MALOP], [MAMH], [MAGV], [MAHK]) VALUES (N'L7A2', N'CN7', N'GV04', N'HK01')
INSERT [dbo].[GIANGDAY] ([MALOP], [MAMH], [MAGV], [MAHK]) VALUES (N'L7A2', N'DL7', N'GV06', N'HK01')
INSERT [dbo].[GIANGDAY] ([MALOP], [MAMH], [MAGV], [MAHK]) VALUES (N'L7A2', N'LS7', N'GV05', N'HK01')
GO
INSERT [dbo].[GIAOVIEN] ([MAGV], [HOTEN], [SDT], [NGSINH], [GIOITINH], [MATK]) VALUES (N'GV01', N'H? Thanh Son', N'0471886113', CAST(N'1980-05-02T00:00:00' AS SmallDateTime), N'Nam', N'TK001')
INSERT [dbo].[GIAOVIEN] ([MAGV], [HOTEN], [SDT], [NGSINH], [GIOITINH], [MATK]) VALUES (N'GV02', N'Tr?n Tâm Thanh', N'0488936800', CAST(N'1995-05-22T00:00:00' AS SmallDateTime), N'Nam', N'TK002')
INSERT [dbo].[GIAOVIEN] ([MAGV], [HOTEN], [SDT], [NGSINH], [GIOITINH], [MATK]) VALUES (N'GV03', N'Ð? Nghiêm Ph?ng', N'0325287490', CAST(N'1990-04-02T00:00:00' AS SmallDateTime), N'N?', N'TK003')
GO
INSERT [dbo].[HOCKYNAMHOC] ([MAHK], [HOCKY], [NAMHOC]) VALUES (N'HK01', 1, 2023)
INSERT [dbo].[HOCKYNAMHOC] ([MAHK], [HOCKY], [NAMHOC]) VALUES (N'HK02', 1, 2023)
GO
INSERT [dbo].[HOCSINH] ([MAHS], [HOTEN], [MALOP], [SDT], [NGSINH], [GIOITINH], [MATK]) VALUES (N'HS01', N'Nguy?n Ng?c Anh', N'L7A2', N'0919164505', CAST(N'2010-01-27T00:00:00' AS SmallDateTime), N'Nam', N'TK100')
INSERT [dbo].[HOCSINH] ([MAHS], [HOTEN], [MALOP], [SDT], [NGSINH], [GIOITINH], [MATK]) VALUES (N'HS02', N'Tr?n Ng?c Hân', N'L7A2', N'0635350272', CAST(N'2010-03-14T00:00:00' AS SmallDateTime), N'N?', N'TK101')
INSERT [dbo].[HOCSINH] ([MAHS], [HOTEN], [MALOP], [SDT], [NGSINH], [GIOITINH], [MATK]) VALUES (N'HS03', N'Hà Duy L?p', N'L7A2', N'0962368828', CAST(N'2010-04-18T00:00:00' AS SmallDateTime), N'Nam', N'TK102')
GO
INSERT [dbo].[LOP] ([MALOP], [TENLOP], [MAGVCN], [SISO], [KHOI]) VALUES (N'L7A2', N'7A2', N'GV08', 9, 7)
INSERT [dbo].[LOP] ([MALOP], [TENLOP], [MAGVCN], [SISO], [KHOI]) VALUES (N'L8A2', N'8A2', N'GV04', 13, 8)
INSERT [dbo].[LOP] ([MALOP], [TENLOP], [MAGVCN], [SISO], [KHOI]) VALUES (N'L9A1', N'9A1', N'GV02', 12, 9)
GO
INSERT [dbo].[MONHOC] ([MAMH], [TENMH]) VALUES (N'CN7', N'Công Ngh?')
INSERT [dbo].[MONHOC] ([MAMH], [TENMH]) VALUES (N'CN8', N'Công Ngh?')
INSERT [dbo].[MONHOC] ([MAMH], [TENMH]) VALUES (N'CN9', N'Công Ngh?')
GO
INSERT [dbo].[TAIKHOAN] ([MATK], [EMAIL], [MATKHAU]) VALUES (N'TK001', N'hothanhson@gmail.com', N'Son1980')
INSERT [dbo].[TAIKHOAN] ([MATK], [EMAIL], [MATKHAU]) VALUES (N'TK002', N'trantamthanh@gmail.com', N'Thanh1995')
INSERT [dbo].[TAIKHOAN] ([MATK], [EMAIL], [MATKHAU]) VALUES (N'TK003', N'donghiemphung@gmail.com', N'Phung1990')
GO
ALTER TABLE [dbo].[DIEM]  WITH CHECK ADD  CONSTRAINT [FK_DIEM_HOCSINH] FOREIGN KEY([MAHS])
REFERENCES [dbo].[HOCSINH] ([MAHS])
GO
ALTER TABLE [dbo].[DIEM] CHECK CONSTRAINT [FK_DIEM_HOCSINH]
GO
ALTER TABLE [dbo].[DIEM]  WITH CHECK ADD  CONSTRAINT [FK_DIEM_MONHOC] FOREIGN KEY([MAMH])
REFERENCES [dbo].[MONHOC] ([MAMH])
GO
ALTER TABLE [dbo].[DIEM] CHECK CONSTRAINT [FK_DIEM_MONHOC]
GO
ALTER TABLE [dbo].[GIANGDAY]  WITH CHECK ADD  CONSTRAINT [FK_GIANGDAY_GIAOVIEN] FOREIGN KEY([MAGV])
REFERENCES [dbo].[GIAOVIEN] ([MAGV])
GO
ALTER TABLE [dbo].[GIANGDAY] CHECK CONSTRAINT [FK_GIANGDAY_GIAOVIEN]
GO
ALTER TABLE [dbo].[GIANGDAY]  WITH CHECK ADD  CONSTRAINT [FK_GIANGDAY_HOCKYNAMHOC] FOREIGN KEY([MAHK])
REFERENCES [dbo].[HOCKYNAMHOC] ([MAHK])
GO
ALTER TABLE [dbo].[GIANGDAY] CHECK CONSTRAINT [FK_GIANGDAY_HOCKYNAMHOC]
GO
ALTER TABLE [dbo].[GIANGDAY]  WITH CHECK ADD  CONSTRAINT [FK_GIANGDAY_LOP] FOREIGN KEY([MALOP])
REFERENCES [dbo].[LOP] ([MALOP])
GO
ALTER TABLE [dbo].[GIANGDAY] CHECK CONSTRAINT [FK_GIANGDAY_LOP]
GO
ALTER TABLE [dbo].[GIANGDAY]  WITH CHECK ADD  CONSTRAINT [FK_GIANGDAY_MONHOC] FOREIGN KEY([MAMH])
REFERENCES [dbo].[MONHOC] ([MAMH])
GO
ALTER TABLE [dbo].[GIANGDAY] CHECK CONSTRAINT [FK_GIANGDAY_MONHOC]
GO
ALTER TABLE [dbo].[GIAOVIEN]  WITH CHECK ADD  CONSTRAINT [FK_GIAOVIEN_TAIKHOAN] FOREIGN KEY([MATK])
REFERENCES [dbo].[TAIKHOAN] ([MATK])
GO
ALTER TABLE [dbo].[GIAOVIEN] CHECK CONSTRAINT [FK_GIAOVIEN_TAIKHOAN]
GO
ALTER TABLE [dbo].[HOCSINH]  WITH CHECK ADD  CONSTRAINT [FK_HOCSINH_LOP] FOREIGN KEY([MALOP])
REFERENCES [dbo].[LOP] ([MALOP])
GO
ALTER TABLE [dbo].[HOCSINH] CHECK CONSTRAINT [FK_HOCSINH_LOP]
GO
ALTER TABLE [dbo].[HOCSINH]  WITH CHECK ADD  CONSTRAINT [FK_HOCSINH_TAIKHOAN] FOREIGN KEY([MATK])
REFERENCES [dbo].[TAIKHOAN] ([MATK])
GO
ALTER TABLE [dbo].[HOCSINH] CHECK CONSTRAINT [FK_HOCSINH_TAIKHOAN]
GO
ALTER TABLE [dbo].[LOP]  WITH CHECK ADD  CONSTRAINT [FK_LOP_GVCN] FOREIGN KEY([MAGVCN])
REFERENCES [dbo].[GIAOVIEN] ([MAGV])
GO
ALTER TABLE [dbo].[LOP] CHECK CONSTRAINT [FK_LOP_GVCN]
GO
